.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  width: auto;
  max-width: auto;
  display: flex;
  justify-content: center;
  color: #fff !important;
}

.footer-link-items > h2 {
  color: #fff;
  font-weight: bold;
  width: auto;
  white-space: nowrap;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 180px;
  box-sizing: border-box;
}

.footer-link-items > a {
  color: #fff !important;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
  margin-left: 45%;
}

.social-logo {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-container {
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-link-wrapper {
    width: 70%;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .footer-link-wrapper {
    width: 50%;
    justify-content: center;
  }

  p {
    font-size: 10px;
  }

  .footer-link-items {
    margin: 12px;
  }

  .social-logo {
    width: 50%;
    margin-left: 25%;
  }
  .footer-link-items {
    margin: 0px;
    font-size: 60%;
  }
  .website-rights {
    margin-left: 40%;
  }
}

@media screen and (max-width: 375px) {
  .footer-link-wrapper {
    width: 45%;
  }
  .social-logo {
    width: 50%;
  }

  .footer-link-items {
    font-size: 50%;
  }
  .footer-link-wrapper {
    width: 50%;
  }
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .footer-link-wrapper {
    width: 40%;
  }

  .social-logo {
    width: 40%;
  }
  .website-rights {
    margin-left: 37%;
    font-size: 50%;
  }
  .footer-link-items {
    font-size: 40%;

    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .footer-link-wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
